<h1>Emplyees</h1>

<% if @employees.any? %>
  <ul>
    <% @employees.each do |employee| %>
      <li><%= link_to employee.name, employee_path(employee) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees yet.</p>
<% end %>


<p><%= link_to "Add new employee", new_employees_path %></p>